{% extends 'blog/index.html' %}
{% block content %}
{% load static %}  

<div class="container">
    <h1>TOP 6</h1>
        <br>

        <!-- Example single danger button -->
        <div class="btn-group">
            <span class="badge badge-pill badge-light">AM</span>
            <button type="button" onclick="location.href='{% url 'sk_am' %}'" class="btn btn-outline-primary">SK</button>
            <button type="button" onclick="location.href='{% url 'lg_am' %}'" class="btn btn-outline-secondary">LG</button>
            <button type="button" onclick="location.href='{% url 'kt_am'%}'" class="btn btn-outline-success">KT</button>
            <button type="button" onclick="location.href='{% url 'kakao_am'%}'" class="btn btn-outline-info">KAKAO</button>
            <button type="button" onclick="location.href='{% url 'samsung_am' %}'" class="btn btn-outline-warning">SAMSUNG</button>
            <button type="button" onclick="location.href='{% url 'naver_am' %}'" class="btn btn-outline-danger">NAVER</button>
        </div>
        <div class="btn-group">
            <span class="badge badge-pill badge-light">PM</span>
            <button type="button" onclick="location.href='{% url 'sk_pm' %}'" class="btn btn-outline-primary">SK</button>
            <button type="button" onclick="location.href='{% url 'lg_pm' %}'" class="btn btn-outline-secondary">LG</button>
            <button type="button" onclick="location.href='{% url 'kt_pm' %}'" class="btn btn-outline-success">KT</button>
            <button type="button" onclick="location.href='{% url 'kakao_pm' %}'" class="btn btn-outline-info">KAKAO</button>
            <button type="button" onclick="location.href='{% url 'samsung_pm' %}'" class="btn btn-outline-warning">SAMSUNG</button>
            <button type="button" onclick="location.href='{% url 'naver_pm' %}'" class="btn btn-outline-danger">NAVER</button>
        </div>
    {% for time in day %}
        {% for key, value in time %}
            {% if key == '034730' %}
            <div id = 'divPlotly'></div>
            <script>
                var plotly_data={{ value }}
                Plotly.react('divPlotly', plotly_data.data, plotly_data.layout);
            </script>
            </div>
            {% elif key == '003550' %}
            <div id = 'divPlotly'></div>
            <script>
                var plotly_data={{ value }}
                Plotly.react('divPlotly', plotly_data.data, plotly_data.layout);
            </script>
            </div>
            {% elif key == '030200' %}
            <div id = 'divPlotly'></div>
            <script>
                var plotly_data={{ value }}
                Plotly.react('divPlotly', plotly_data.data, plotly_data.layout);
            </script>
            </div>
            {% elif key == '035720' %}
            <div id = 'divPlotly'></div>
            <script>
                var plotly_data={{ value }}
                Plotly.react('divPlotly', plotly_data.data, plotly_data.layout);
            </script>
            </div>
            {% elif key == '005930' %}
            <div id = 'divPlotly'></div>
            <script>
                var plotly_data={{ value }}
                Plotly.react('divPlotly', plotly_data.data, plotly_data.layout);
            </script>
            </div>
            {% else %}
            <div id = 'divPlotly'></div>
            <script>
                var plotly_data={{ value }}
                Plotly.react('divPlotly', plotly_data.data, plotly_data.layout);
            </script>
            </div>

            {% endif%}
        {% endfor %}
    {% endfor %}
    
</div>
{% endblock %}